{% if folderLinks[0] != '#' %}
    <a href="{{ folderLinks[0] }}"><span class="icon-level-up"></span> Back</a>
{% endif %}
<ul>
{% for folder in folderView if folder.wsType == 'folder' %}
    <li><a href="{{ folderLinks[folder.label] }}"><span class="{{ renderingParams['openFolderIcon'] }}"></span> {{ folder.label }}</a></li>
{% endfor %}
{% for report in folderView if report.wsType != 'folder' %}
    <li><span class="{{ renderingParams['reportIcon'] }}"></span> {{ report.label }}</li>
{% endfor %}
</ul>

{% javascripts '@MESDJasperReportBundle/Resources/public/js/reportView.js' %}
<script type="text/javascript">
    //Set the class name of the folders to that given from the config
    var openFolderIconClass = "{{ renderingParams['openFolderIcon'] }}";
    var closedFolderIconClass = "{{ renderingParams['closedFolderIcon'] }}";
</script>
{% endjavascripts %}